*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.container {
  width: 100%;
  display: flex;
  /* margin-top: 10px; */

  & > div:first-child {
    flex: 1;
  }

  & > div:last-child {
    flex: 4;
  }
}
