*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.container {
  width: 100%;
  display: flex;
  /* margin-top: 10px; */

  & > div:first-child {
    flex: 1;
  }

  & > div:last-child {
    flex: 4;
  }
}

@media (max-width: 768px) {
  .show_sidebar {
    display: none;
  }

  /* .container {
    & > div:first-child {
      position: absolute;
    }
  } */
}

.homeWidgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px 30px 30px;

  @media (max-width: 768px) {
    padding: 0;
  }
}
