*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #8ec5fc;
  background-image: linear-gradient(
    62deg,
    #8ec5fc 0%,
    #e0c3fc 50%,
    #ffffff 100%
  );
}

.container {
  width: 100%;
  display: flex;
  /* margin-top: 10px; */

  & > div:first-child {
    flex: 1;
  }

  & > div:last-child {
    flex: 4;
  }
}
